@media screen and (max-width: 700px) {
    header {
        height: 100px;
    }
    .container-header {
        display: flex;
        flex-direction: column;
    }
    .header-nav1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
        padding: 10px;
    }
    .container-nav a {
        font-size: 12px;
    }
    .header-nav2 {
        gap: 5px;
        margin-right: 0px;
        padding: 0;
    }
    .icones-topo, .logo-usuario {
        font-size: 12px;
        height: 20px;
        width: 20px;
    }
    .logo-netflix {
        height: 20px;
    }


    .filme-principal {
        height: 300px;
    }
    .filme-principal .container {
        margin-left: 15px;
    }    
    .imagem-filme-principal {
        height: 20%;
        margin-left: 0;
    }
    .filme-principal .container p {
        font-size: 10px;
        margin-left: 0;
    }
    
    
    .botoes {
        margin: 10px 0 0 0px;
    }
    .botao1, .botao2 {
        border: none;
        padding: 6px 15px 6px 15px;
        margin-right: 5px;
        border-radius: 5px;
        font-size: 10px;
        cursor: pointer;
        transition: .1s ease all;
    }


    .grupo-carrosel {
        margin: 10px 0 0 15px;
    }
}

@media screen and (max-width: 500px) {
    header {
        height: 30px;
    }
    .container-header {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }
    .header-nav1 {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-left: 0px;
        padding: 5px;
    }
    .container-nav {
        padding-left: 5px;
        gap: 0px;
    }
    .container-nav a {
        font-size: 9px;
    }
    .header-nav2 {
        gap: 2px;
        margin-right: 0px;
        padding: 5px;
    }
    .icones-topo, .logo-usuario {
        font-size: 10px;
        height: 20px;
        width: 20px;
    }
    .logo-netflix {
        height: 15px;
    }


    .filme-principal {
        height: 170px;
    }
    .filme-principal .container {
        margin: 50px 0 0 10px;
    }
    .imagem-filme-principal {
        height: 15%;
        margin: 125px 0px 0 0px
    }
    .filme-principal .container p {
        visibility: hidden;
        display: none;
    }
    
    
    .botoes {
        margin: 10px 0 0 0px;
    }
    .botao1, .botao2 {
        border: none;
        padding: 3px 8px 3px 8px;
        margin-right: 0;
        border-radius: 3px;
        font-size: 8px;
        cursor: pointer;
        transition: .1s ease all;
    }


    .grupo-carrosel {
        margin: 10px 0 0 10px;
    }
}