:root {
    --vermelho: #E50914;
    --preta: #141414;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: var(--preta);
    font-family:  Helvetica, sans-serif;
    color: white;
}


/* CABEÇALHO */
header {
    height: 68px;
}
.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 40px;
    padding: 20px 0 0 0;
}
.logo-netflix {
    height: 30px;
}
.container-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.container-nav a {
    color: #AAA;
    margin-right: 10px;
}
.container-nav a:hover {
    color: #FFF;
}

.header-nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-right: 40px;
    padding: 20px 0 0 0;
}
.icones-topo {
    background-color: rgba(0,0,0,.001);
    border: none;
    color: #AAA;;
    font-size: 18px;
    cursor: pointer;
    transition: .1s ease all;
}
.icones-topo:hover {
    color: white;
}
.logo-usuario {
    background-image: url("../img/logo_usuario2.png");
    height: 35px;
    width: 35px;
    background-size: cover;
    border-radius: 5px;
}



/* Filme/serie principal */
.filme-principal {
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url("../img/capa2.webp");
    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .container {
    margin: 50px 0 0 20px;
    width: 70%;
}
.imagem-filme-principal {
    height: 35%;
    margin: 80px 20px 0 20px;
}
.filme-principal .container p {
    margin-top: 10%;
    font-size: 12px;
    margin: 20px 0 0 20px;
    width: 55%;
    text-align: justify;
}
.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 70px;
}



/* BOTÕES DA CAPA PRINCIPAL*/
.botoes {
    margin: 20px 0 0 20px;
}
.botao1, .botao2 {
    border: none;
    padding: 12px 30px 12px 30px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: .1s ease all;
}
.botao1 {
    background-color: rgba(255,255,255,.99);
    color: black;
}
.botao1:hover {
    background-color: rgba(255,255,255,.70);
}
.botao2 {
    background-color: rgba(84,88,87,.60);
    color: white;
}
.botao2:hover {
    background-color: rgba(84,88,87,.20);
}
.botao1 i, .botao2 i {
    margin-right: 8px;
}



/* CARROSEL */
.grupo-carrosel {
    margin: 10px 0 0 35px;
    position: unset;
}
.titulo-grupo {
    margin-bottom: 15px;
    font-weight: bold;
}
.carrosel-filmes {
    margin-top: 5px;
}
.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}
.item:hover {
    cursor: pointer;
}